body{
  font-family: Roboto;
  width: 100%;
  height: 100%; 
}
#footer{

  text-align:center;

}
#navbarNav a{
  font-size: 1.1rem;
}

.container-channels {

  height: 1000px;

}

.container-channels h2{

  font-size: 1.8rem;
  /* color:rgb(203, 130, 130); */
  text-decoration: underline;
  padding:10px;
  color:whitesmoke;

}

.container-channels p{

  font-size: 1.4rem;
  color:whitesmoke;
  
}

.container-channels h3{

  font-size: 1.2rem;
  color:whitesmoke;
  text-decoration: underline;

}

 .hero-image#givedisplayname{

    height:500px;
    padding: 100px;
    margin-top: 0px;
    margin-right: 10px;
    margin-left: 10px;
    display: block;
    position: relative;
    width: 100%;

}

.displayform{

  text-align: center;
  margin-left:30%;
  padding: 50px;
  display: inline-block;

}

.displayform input{

  width:300px;
  float: center;

}

.displayform button{

  margin-top: 10px;
  float: center;
  position: relative;
  background-color: rgb(228, 111, 111);

}
 .channelwritemessageClass #writemessageID{

    width: 70%;
    position: relative;
    text-align: center;
    margin-top: 20px;
    font-size: 1.5rem;
    margin-top: 20px;
    height: 40px;
}

 button#sendbutton{

  position: relative;
  float: center;
  color: white;
  margin-left:5%;
  margin-top: 120px;
  width:100px;
  height: 40px;
  font-size: 1.3rem;
  background-color: rgb(38, 149, 196);
}
#create  h5{
  color:rgb(4, 116, 164);
  margin-left: 140px;
  font-size: 1.8rem;
  /* text-align: center; */
}
.modal-footer button{
  background-color: rgb(0, 166, 255);

}
.searchbar{

  display: grid;
  grid-template-columns: auto auto ;
  grid-gap: 0px;

}

.searchbar input{

  height: 40px;
  width:  90%;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-right: 20px;
  font-size: 1.4rem;

}

.searchbar .btn{

  top:20px;  
  margin-left: 5%;
  float: left;
  width:auto;
  height: 40px;
  position: relative;
  background-color: rgb(228, 111, 111);
  
}

.channels{
  display: grid;
  grid-template-columns: auto auto ;
  grid-gap: 0px;
}

#channel h1{

  color:   #7c93de;

}

section#messagebox{  

  width: 100%; 
  margin: 20px auto;
  position: relative;
  background-color: rgb(255, 255, 255);
 
 
}

section#messagebox:before{ 

  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 0px;
  margin: 0 0 0 -1px;
  width: 2px;
  height: 100%;
  border:4px;
}



section#messagebox article{

  margin: 0 0 5px 0;
  position:relative;
  
} 

section#messagebox article:after{

  content:'';
  display:block;
  clear:both;
 
}

section#messagebox .container-msg{

  width:100%;
  border: 1px solid  #7c93de;;
  clear:both;
  display:block;
  margin-left: 20px;

}

section#messagebox .containers{

  padding:40px;
  border-radius: 6px;
  top:1rem;
  display:block;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  width:20rem;
  
}

.container-right{

  margin-left: 15rem;
  margin-right: 15rem;
  background-color: rgb(189, 250, 254);
  float:right;

}

.container-left{

  margin-left: 5rem;
  margin-right: 13rem;
  background-color: rgb(255, 245, 131);
  float:left;

}

section#messagebox .container-right:after {

  content: '';
  border-radius: 6px 6px 6px 0;
  background-color: rgb(189, 250, 254);
  left:-5px;
  position: absolute;
  top: 25px;
  right: -15px;
      width: 20px;
      height: 20px;
    
  
  -webkit-transform: rotate(45deg);

 

}

section#messagebox .container-left:after{

  content: '';
  /* background-color: rgb(255, 255, 172); */
  background-color: rgb(255, 245, 131);
  position: absolute;
  top: 25px;
  right: -7px;
      width: 15px;
      height: 15px;
  
  -webkit-transform: rotate(45deg);
}

section#messagebox .containers p{

  border-radius: 6px 6px 0 0;
  position: relative;
  letter-spacing: -1px;
  margin: 0;
  color: rgb(131, 81, 81);
  font-size: 1.3rem;
  text-align: right;

  
}
section#messagebox .containers h3{

  border-radius: 6px 6px 0 0;
  position: relative;
  letter-spacing: -1px;
  margin: 0;
  font-size: 1.5rem;
  text-align: right;

  
}
section#messagebox .container-right h2{

  color: rgb(141, 133, 249);
  text-align: right;
  font-size: 1.6rem;
}


section#messagebox .container-left h2{

  color: rgb(30, 182, 247);
  text-align: right;
  font-size: 1.6rem;
}
.containers h5{
  font-size:1.3rem;
  color:rgb(223, 128, 128) !important;
  text-align: right;
  padding:10px;
}
.attach{

  width:300px;  
}
#attachments
{

  font-size: 1.2rem;
  z-index: 1;
  
}
.fa-plus:hover{

  color: rgb(216, 17, 143);
  font-size: 1.6rem;
}

#attachments input
{
  width:100rem;
  height:2px;
  font-size: 1.3rem;
  height: 4rem;
  
}


#attachments p{
  font-size: 1.3rem;
}
#deletemessage{
  background-color: transparent;
  color: rgb(97, 171, 23);
  border: 0ch;
  font-size: 1.3rem;
  position: relative;
  
}

#deletemessage:hover{
  
  color: #e60a2b;
}
@media screen and (max-width:700px){

  section#messagebox .containers{

    padding:10px;
    margin-top: 10px;
    margin-bottom: 10px;

  }

  .container-right{

    margin-left: 10rem;
    margin-right: 2rem;

  }

  .container-left{
    margin-left: 0rem;
    margin-right: 10rem;

  
  }

  section#messagebox .container-right h2{

    font-size: 1.4rem;
  }

  section#messagebox .containers h3{
    font-size: 1.4rem;
  }

  .hero-image#givedisplayname{
   
    padding: 100px;
    margin-top: 0px;
    margin-right: 10px;
    margin-left: 0px;
    display: block;
    position: relative;
    width: 100%;

}
  .displayform{

    text-align: center;
    margin-left:10%;
    padding: 30px;
    display: inline-block;
  }
  .displayform input{

    width:250px;
    text-align: center;

  }
  
}
 
