#footer{
    text-align:center;
}
#createchannel {
    
    background-color: rgb(247, 214, 190);
}
/* .hero-image{
  background-image: linear-gradient(#eeeceb, #eeeceb);
  line-height: 15%;
  padding: 0%;
  height: 1000px;
  margin-top: 0px;
  margin-right: 10px;
  margin-bottom: 50%;
  margin-left: 10px;
  display: block;
  position: relative;
  width: 100%;

} */
 .hero-image#givedisplayname{
    height:350px;
    background-color: rgb(0, 156, 184);

    padding: 100px;
    margin-top: 0px;
    margin-right: 10px;

    margin-left: 10px;
    display: block;
    position: relative;
    width: 100%;

}
.displayform{
  text-align: center;
  margin-left:30%;

  padding: 50px;
  display: inline-block;
}
.displayform input{
  /* margin-top: 10px;   */
  width:300px;
  float: center;

 
}
.displayform button{
  margin-top: 10px;
  float: center;
  
  position: relative;

  background-color: rgb(228, 111, 111);
}
 .channelwritemessageClass #writemessageID{
    width: 70%;
    position: relative;
    text-align: center;
    margin-top: 20px;
    font-size: 1.1rem;
    margin-top: 20px;
    height: 40px;
}
 button#sendbutton{
/* .channelwritemessageClass button{ */
  /* width:300px;
  float:center;
  margin-left:35%;
  height: 300px; */
  position: relative;
  float: center;
  color: white;

  margin-left:5%;
  margin-top: 120px;
  width:100px;
  height: 40px;
  font-size: 1.1rem;
  background-color: rgb(38, 149, 196);
}
#givedisplayname button{
 
 
    

}
.sidebar{
  /* background-color: #1b89e9; */
  width: 20rem;
}
/* Style the tab */
#channeltabs .tab {
    float: left;
    border: 1px solid #ccc;
 
   
    /* height: 300px; */
  }
  
  /* Style the buttons inside the tab */
#channeltabs button {
    display: block;
    background-color: inherit;
    color: rgb(0, 0, 0);
    padding: 1rem ;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
    
    border: 1px solid #ccc;
  }
  
  /* Change background color of buttons on hover */
  #channeltabs .tab button:hover {
    background-color: rgb(55, 117, 249);
  }
  
  /* Create an active/current "tab button" class */
  #channeltabs .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
#channeltabs .tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    height: 300px;
  }


.searchbar{
  display: grid;
  grid-template-columns: auto auto ;
  grid-gap: 0px;

}
.searchbar input{
  height: 40px;
  width:  90%;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-right: 20px;
  font-size: 1.2rem;

}
.searchbar .btn{
  top:20px;  
  margin-left: 5%;
  float: left;
  /* width: 25%; */
  width:auto;
  height: 40px;
  position: relative;
  background-color: #0075b4;
  
}
.channels{
  display: grid;
  grid-template-columns: auto auto ;
  grid-gap: 0px;
}
section#messagebox{  
  width: 100%; 
  margin: 20px auto;
  position: relative;

 
}

section#messagebox:before{ 
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 0px;
  margin: 0 0 0 -1px;
  width: 2px;
  height: 100%;
  border:4px;
  /* background: rgba(37,48,59,0.6);    */
}



section#messagebox article{
  /* width: 40%; */
  margin: 0 0 5px 0;
  position:relative;
  
  
} 
section#messagebox article:after{
  content:'';
  display:block;
  clear:both;
}
section#messagebox .container-msg{
  width:100%;
  /* margin-top: 2px;
  margin-bottom:2px;
  margin-left: 2px;
  margin-right:2px; */
  border: 1px solid rgb(3, 182, 12);
  clear:both;
  display:block;
  margin-left: 20px;

}
section#messagebox .containers{
  padding:2px;
  border:1px solid black;
  border-radius: 6px;
  top:1rem;
  display:block;
  position: relative;
  /* margin-bottom: 15rem; */
  /* height:2rem; */
  margin-top: 10px;
  margin-bottom: 10px;
  /* margin-left: 15rem;
  margin-right: 15rem; */
  

}
.container-right{
  margin-left: 15rem;
  margin-right: 15rem;
  background-color: #ebedf5;
}
.container-left{
  margin-left: 5rem;
  margin-right: 13rem;
  background-color: #ebedf5;

}

section#messagebox .containers p{
  padding: 5px;
  border-radius: 6px 6px 0 0;
  position: relative;
  letter-spacing: -1px;
  margin: 0;
 
  font-size: 20px;
  text-align: right;
  background-color: #ebedf5;
  
}
section#messagebox .container-right h5{
  color: rgb(191, 10, 10);
  text-align: right;
}

section#messagebox .container-right h5:after {
  content: '';
  background-color: #ebedf5;
  left:-5px;
  position: absolute;
  top: 25px;
  right: -5px;
      width: 20px;
      height: 20px;
      border:1px dashed black;
  
  -webkit-transform: rotate(45deg);

 

}
section#messagebox .container-left h5{
  color: rgb(30, 45, 247);
  text-align: right;
}
section#messagebox .container-left h5:after{
  content: '';
  background-color: #ebedf5;
  /* left:-15px; */
  position: absolute;
  top: 25px;
  right: -5px;
      width: 20px;
      height: 20px;
  
  -webkit-transform: rotate(45deg);
}
 /* section#messagebox .containers:nth-child(odd) {
  background-color: #ebedf5;
  width: 20rem;
  margin-top: 50px;


}  */

/* section#messagebox .containers:nth-child(odd) h5{
  color: #132d98;
  background-color: #ebedf5;
} */
 /* section#messagebox .containers:nth-child(odd) h5:after{
  background-color: #ebedf5;
  right:305px;
  /* right:90%; 

}  */
/* section#messagebox .containers:nth-child(odd)  p{
  background-color: #ebedf5;

} */

/* section#messagebox .containers:nth-child(even) {
  background-color: #eec11e;
  /* margin-left:25px; 
  width: 20rem; 
  margin-bottom: 510px;


}  */
/* #messagebox .containers:nth-child(even) h5{
  color: #98135c;
}
#messagebox .containers:nth-child(even) p{
  background-color: #eec11e;

}
#messagebox .containers:nth-child(even) h5:after{
  background-color:  #eec11e;
} */