{% extends "layout.html" %}
{% block heading %}


Flack Login

{% endblock %}


{% block body %}

<!-- Channel messages -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.slim.js"></script>
<script src="{{ url_for('static', filename='channel.js') }}"></script>
<div class="container">
    <div class="row">
        <div class="col">
            <p>{{channelname}}</p>
            <p>description of channel</p>
            
        
            <div class="channelheader">
                <p>#{{channelname}}</p>
            </div>
            <div class="channelmessagesClass">
                <div id="displayallmessagesID">
                    <div id="messagebox">
                        {% if channelmessages is defined and channelmessages|length %}

                        {% for key,value in  channelmessages.items() %}
                            {% if key == channelname %}
                                {%set msg = value %}
                                {% for msg in msg %}
                                <div class="container-msg">
                                                
                                    {% if msg[0] == account %}
                                        <div class="containers float-right">
                                            <p >{{msg[0]}}</p>
                                            <p class="lead text-secondary">{{msg[1]}}</p>
                                            <p class="lead text-secondary">{{msg[2]}}</p>
                                        </div>
                                    {%else%}
                                        <div class="containers float-left">
                                            <p >{{msg[0]}}</p>
                                            <p class="lead text-secondary">{{msg[1]}}</p>
                                            <p class="lead text-secondary">{{msg[2]}}</p>
                                        </div>
                                    {%endif%}
                                </div>
                                {%endfor%}          
                            {%endif%}    
                        
                        {% endfor %}  
                    
                        {% endif %}
                                             
                    </div>
                                  
                                
                    
                
                <hr>
                    
                    <div id="container-msg container-new-msg">
                       <p> New messages</p> 

                    </div>
                </div>
               
            
            </div>
            <div class="channelwritemessageClass">

                <input type="text" id="writemessageID" name="writemessage" placeholder="Message {{channelname}}"><br><br>
                <input type="submit" id ="sendbutton" value="send message">
            </div>
        </div>
    </div>
</div>

{% endblock %}