{% extends "layout.html" %}
{% block heading %}


Flack

{% endblock %}


{% block body %}


<form action ="{{ url_for('createname') }}" method ="post" id ="form">
  <div>
      <input type="text" class="form-control  form-control-lg" autocomplete="off" autofocus placeholder="Display name" name = "name" id="name" type="text">
  </div>
  <div >
  <button type="button" class="btn btn-primary" type="submit" data-dismiss="modal"onclick="getname()" >Submit</button>
  </div>
</form>
<script  type="text/javascript">


if (!localStorage.getItem('name')){

//if no name found in local storage
      
      getname=()=>{
        let name = document.querySelector('#name').value;
      
        localStorage.setItem('name', name);
        console.log(name)
        document.getElementById('form').submit();

     
    };
    } 
    else{
        
        let name = localStorage.getItem('name')
        document.querySelector('#name').value = name
        document.getElementById('form').submit();

        
    }
   


</script>
    

    
    <!-- <div class="modal" tabindex="-1" role="dialog" id= "givedisplayname">
        <div class="modal-dialog">
          <div class="modal-content" >
            <div class="modal-header">
              <h5 class="modal-title">Enter Display name</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form action ="{{ url_for('createchannel',name=name) }}" method ="post" id ="#form">
              <div class="modal-body">
                  <input type="text" class="form-control  form-control-lg" autocomplete="off" autofocus placeholder="Display name" name = "name" id="name" type="text">
              </div>
              <div class="modal-footer" >
              <button type="button" class="btn btn-primary" type="submit" data-dismiss="modal"onclick="getname()" >Submit</button>
              </div>
            </form>
          </div>
       
        </div>
      </div> -->

     
      
    
    
  
{% endblock %}

